
    <div class="header">
        <div class="hamburger">
            <i></i>
        </div>
        <div class="middle">
            <div class="main-logo">
                <a href=""> <img src="https://files.codingninjas.in/cn-logo-dark-9824.svg" alt="" height="100px"
                        width="100px"></a>
            </div>
            <ul class="menu-items">
                <li class="menu-item">Courses</li>
                <li class="menu-item">Scholarship&nbsp;<span class="gren">UPTO&nbsp;100%&nbsp;OFF</span> </li>
                <li class="menu-item">Community</li>
                <li class="menu-item">Pratice</li>
                <li class="menu-item">CareerCamp</li>
            </ul>
        </div>
        <div class="right">
            <div class="classroom">
                <div class="myclassroom">
                    My <br>
                    Classroom
                </div>
                <div class="profile">
                    <img src="" alt="">
                </div>
            </div>

            <button>Enroll</button>

        </div>
    </div>
